<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.boulevard.androidassociatedeveloper2018java">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BoulevardTheme">

        <!-- This is the Service declaration used in conjunction with FirebaseJobDispatcher -->
        <service
            android:name=".jobscheduler.IncrementFirebaseJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity android:name=".common.BaseActivity"
            android:launchMode="singleTop"> <!-- Makes it so when we navigate back from the SettingsActivity, we don't remake BaseActivity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".todolist.AddTaskActivity" />
        <activity android:name=".boardingpass.BoardingPassActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".common.BaseActivity"
            android:theme="@style/BoulevardThemeActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".common.BaseActivity"/>
        </activity>
    </application>

</manifest>